// Variables
$primary-color: #2994B1;
$secondary-color: #122C3A;
$nav-color: #24627A;
$card-border-color: #EFFAFC;
$footer-bg: #234556;
$text-color: white;
$font-family: "Inter", sans-serif;
$btn-bg: red;
$btn-text: white;
$border-radius: 20px;